$primary-blue: #271fe0;
$primary-600: #4945ff;
$primary-500: #7b79ff;
$primary-200: #d9d8ff;
$primary-100: #f0f0ff;
$neutral-900: #212134;
$neutral-800: #32324d;
$neutral-700: #4a4a6a;
$neutral-600: #6666b7;
$neutral-500: #8e8ea9;
$neutral-400: #a5a5ba;
$neutral-300: #c0c0cf;
$neutral-200: #dcdce4;
$neutral-150: #eaeaef;
$neutral-100: #f6f6f9;
$neutral-0: #ffffff;
