* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

header {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 2;
}

footer {
  background: linear-gradient(90deg, #000000 0%, #271fe0 50%, #000000 100%);
  padding: 1rem;
}

.header_bg {
  width: 100%;
  position: absolute;
  top: 0;
  background-size: cover;
  z-index: -1;
}

.invierte {
  color: #271fe0;
}

.top_button {
  text-decoration: none !important;
  border-radius: 50px;
  border: 2px solid #271fe0;
  margin: 0 8px;
  padding: 8px 20px;
  background: #271fe0;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.8rem;
}

.login_button {
  background: transparent;
  color: #271fe0;
  transition: 0.5s;
}

a {
  text-decoration: none !important;
}

.top_button:hover {
  background: #271fe0;
  color: #ffffff !important;
}

nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
  /* padding: 1rem 0.7rem; */
  position: relative;

  a {
    text-decoration: none;
    color: #4a4a6a;
    font-size: 0.8rem;
    font-weight: normal;
  }
}

nav ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #271fe0;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

nav ul li:hover::after {
  width: 100%;
}

.nav__list_footer {
  list-style: none;
}

.footer__link {
  text-decoration: none;
  font-size: 0.8rem;
  color: #ffffff;
}

.footer_sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  background: #ffffff;
}

.hero_text {
  margin-bottom: 2rem;
}

.hero_text_main {
  text-transform: capitalize;
  font-size: 4rem;
  color: #212134;
}

.hero_button {
  width: 150px;
  text-decoration: none;
  background: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  margin: 20px 10px;
  padding: 10px 20px;
  color: #271fe0;
  border: 0.5px solid #271fe0;
  position: relative;
  transition: color 0.5s;
  z-index: 0;
  overflow: hidden;
}

.hero_button a {
  color: #271fe0;
}

.hero_button:hover {
  color: #ffffff;
}

.hero_button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: linear-gradient(to bottom, #7d70f0, #271fe0);
  z-index: -1;
  /* border-radius: 0 0 50% 50%; */
  transition: all 0.5s;
}

.hero_button:hover:before {
  height: 120%;
}

.img_hero {
  width: 550px;
  animation: from-right 1.5s ease;
}

@keyframes from-right {
  0% {
    opacity: 0;
    transform: translatex(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.container {
  width: 80%;
  margin: 0rem auto;
}

.fondo {
  background-color: #f6f6f9;
}

.fondo_hero {
  z-index: -1;
}

.boton {
  background-color: #271fe0;
  color: #ffffff;
  text-decoration: none;
  border-style: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: small;
}

.boton_secundario {
  background-color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  color: #271fe0;
}

.boton_secundario_banner {
  padding: 0.5rem 1rem;
}

.plataforma {
  background-color: #ffffff;
  padding-bottom: 2rem;
}

h1 {
  color: #212134;
  font-size: 3rem;
}

h2,
h3,
h4 {
  color: #4a4a6a;
}

.titulo_secundario_main {
  font-size: 30px;
  margin-top: 40px;
}

.titulo_secundario_main_blue {
  color: #271fe0;
}

.container_banner {
  background-color: #271fe0;
  color: #ffffff;
  padding: 2.5rem 0;
}

.banner {
  width: 80%;
  margin: 0 auto;
  font-size: x-large;
  font-weight: bold;
}

form {
  background-color: #ffffff;
}

input {
  background-color: #f0f0ff;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #7b79ff;
  color: #ffffff;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #8e8ea9;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #8e8ea9;
}

tr {
  background-color: #ffffff;
}

tr:hover {
  background-color: #f0f0ff;
}

.img_footer {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.testimonio_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0ff;
  border: 6px solid #ffffff;
  padding: 1rem;
  margin-bottom: 1rem;
  max-width: 250px;
  border-radius: 4px;
  transition: 0.5s;
}

.testimonio_card:hover {
  transform: scale(1.05, 1.05);
}

.titulo_seccion {
  padding: 2rem 0;
}

.testimonio_titulo_card {
  text-align: center;
  margin: 1rem;
  font-weight: bold;
  color: #4a4a6a;
}

.testimonio_text {
  padding: 0rem;
  text-align: center;
  font-size: smaller;
  font-style: italic;
}

.testImg {
  width: 120px;
  border-radius: 50%;
}

.bordes {
  background: #ffffff;
  border: 0.5px solid #eaeaef;
}

.bordes--principal {
  width: 40%;
  margin: 0.2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);
  border-radius: 4px;
}

.bordes--funcionalidad {
  width: 200px;
  margin: 1rem;
  padding: 1rem;
}

.plataforma_feature {
  width: 200px;
  margin: 1rem;
  background: #ffffff;
  border: 0.5px solid #eaeaef;
  padding: 1rem;
}

.plataforma_feature_text {
  font-size: smaller;
  text-align: left;
}

.plataforma_img {
  text-align: left;
}

.titulo_secundario {
  width: 60%;
  text-align: center;
  margin: 2rem auto;
}

.texto_secundario {
  margin-bottom: 1rem;
}

.formulario_signup {
  padding: 2rem 2rem;
  background-color: #ffffff;
  width: 450px;
  border: 0.5px solid #eaeaef;
  margin: 3rem 1rem;
}

.formulario_signup_signin {
  padding: 2rem 2rem;
  background-color: #ffffff;
  width: 350px;
  border: 0.5px solid #eaeaef;
  margin: 3rem 1rem;
}

.formulario_login {
  padding: 2rem 2rem;
  background-color: #ffffff;
  width: 400px;
  border: 0.5px solid #eaeaef;
  margin: 10rem 1rem;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #dcdce4;
  border-radius: 4px;
  background-color: #ffffff;
}

textarea {
  border: 1px solid #dcdce4;
  border-radius: 4px;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  border: none;
  color: white;
  padding: 0.5rem 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
}

form label {
  font-size: small;
}

fieldset {
  border-width: 0;
}

.titulo_login {
  text-align: center;
  margin-bottom: 0rem;
  font-size: xx-large;
}

.titulo_login2 {
  text-align: center;
  font-size: small;
}

.signup {
  display: flex;
  justify-content: space-around;
}

.boton_signup_signin {
  margin-top: 1rem;
  background-color: #271fe0;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  border-style: none;
}

.inv_det_card {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);
  border-radius: 4px;
  width: 40%;
  padding: 1rem;
  transition: 0.5s;
}

.inv_det_card:hover {
  background: #f0f0ff;
  transform: scale(1.05, 1.05);
}

.inv_det_card_title {
  font-size: x-large;
  padding-bottom: 1rem;
}

.login {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.login_img {
  width: 500px;
}

.row {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.row_inv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.row_inv_rev {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.container_main {
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 2rem;
  box-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);
  border-radius: 4px;
}

.container_main_text {
  padding-right: 2rem;
}

.container_main_hero {
  display: flex;
  align-items: center;
  padding: 4rem 0.5rem;
  justify-content: space-between;
}

.main_img {
  width: 450px;
}

.banner_sec {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-content: center;
  align-items: center;
}

.signup_signin_img {
  width: 450px;
}

/* .plataforma_funcionalidades {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
  } */

.plataforma_funcionalidades_row {
  display: flex;
  justify-content: space-evenly;
}

.icono_funcionalidad {
  width: 50px;
}

.plataforma_feature_title {
  font-size: small;
  font-weight: bold;
  padding: 1rem;
}

.plataforma_sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacto {
  display: flex;
  justify-content: space-between;
}

.datos_empresa {
  padding: 2rem 2rem;
  background-color: #ffffff;
  width: 375px;
  height: 600px;
  border: 0.5px solid #eaeaef;
  margin: 3rem 1rem;
}

.nuestro_equipo {
  background-image: url("../images/nuestro_equipo.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 3rem;
}

.nuestro_equipo_card {
  padding: 2rem 2rem;
  background: rgba(215, 215, 223, 0.9);
  width: 40%;
  border: 0.5px solid #eaeaef;
}

.team_cards {
  display: flex;
  justify-content: space-evenly;
}

.team_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.aboutText {
  font-size: 1rem;
  max-width: 300px;
  text-align: center;
}

.teamName {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}

.teamTitle {
  color: #271fe0;
  margin-bottom: 18px;
  text-align: center;
  font-weight: 400;
}

.teamImg {
  width: 120px;
  border-radius: 50%;
}

.grid_plataforma {
  display: grid;
  grid-template-areas:
    "imagen_plataforma funcionalidad1 funcionalidad2"
    "imagen_plataforma funcionalidad3 funcionalidad4";

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  grid-column-gap: 20px;
  align-content: center;
  justify-content: center;
}

.grid_plataforma_img {
  grid-area: imagen_plataforma;
  align-self: center;
  justify-self: center;
}

.grid_plataforma_items {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
  border: 1px solid #dcdce4;
  border-radius: 4px;

  transition: 1s;
}

.grid_plataforma_items:hover {
  background: #d8d8e283;
  /* color: #ffffff; */
}

.grid_plataforma_item1 {
  grid-area: funcionalidad1;
}

.grid_plataforma_item1:hover {
  box-shadow: 0px 0px 10px #00ff156b;
}

.grid_plataforma_item2 {
  grid-area: funcionalidad2;
}

.grid_plataforma_item2:hover {
  box-shadow: 0px 0px 10px #006eff6b;
}

.grid_plataforma_item3 {
  grid-area: funcionalidad3;
}

.grid_plataforma_item3:hover {
  box-shadow: 0px 0px 10px #ffae0091;
}

.grid_plataforma_item4 {
  grid-area: funcionalidad4;
}

.grid_plataforma_item4:hover {
  box-shadow: 0px 0px 10px #ff00006b;
}

.grid_signup {
  display: grid;
  grid-template-areas:
    "signup signin"
    "signup signup_img";

  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr;

  grid-column-gap: 20px;
  align-content: center;
  justify-content: center;
}

.formulario_signup {
  grid-area: signup;
}
.formulario_signup_signin {
  grid-area: signin;
  height: 150px;
}
.signup_signin_img {
  grid-area: signup_img;
  align-self: flex-start;
}

.row_inv .circle {
  width: 650px;
  position: absolute;
  right: 10%;
  z-index: -1;
}

.row_inv_rev .circle {
  width: 650px;
  position: absolute;
  left: 10%;
  z-index: -1;
}
